.score {
	color: var(--title-gold);
	width: 25%;
	margin: 3rem auto 5rem;

	&__container {
		display: flex;
		justify-content: space-between;
		margin: 2rem 0;
		@media screen and (max-width: 450px) {
			margin-left: -1rem;
			margin-right: -1rem;
		}
	}
	&__player,
	&__computer {
		border: 2px solid var(--dark-gray);
		padding: 1rem;
		width: 39px;
	}
	&__player {
		color: var(--title-blue);
	}
	&__computer{
		color: var(--title-pink);
	}
}

.picks {
	margin: 3rem auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	max-width:577px;
	@media screen and (max-width: 499px) {
		flex-wrap: wrap;
		&__choice:last-child {
			margin: auto;
		}
	}
}