.score {
	width: 25%;
	margin: 3rem auto 5rem;

	&__container {
		display: flex;
		justify-content: space-between;
		margin: 2rem 0;
		@media screen and (max-width: 450px) {
			margin-left: -1rem;
			margin-right: -1rem;
		}
	}
	&__player,
	&__computer {
		border: 2px solid var(--dark-gray);
		padding: 1rem;
	}
}

.picks {
	margin: 3rem auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50%;
	@media screen and (max-width: 650px) {
		flex-wrap: wrap;
		width: 70%;
		&__choice:last-child {
			margin: auto;
		}
	}
}

.picks__choice {
	& button {
		cursor: pointer;
		margin: 2rem;
		width: 8rem;
		height: 8rem;
		border-radius: 50%;
		border: solid 1px var(--dark-gray);
		background-color: var(--main-background-color);
		transition: all 0.2s ease-in-out;
		&:hover {
			transform: scale(1.1);
			box-shadow: 0 0 2px 1px var(--dark-gray);
		}
		&:active {
			box-shadow: 0 0 2px 3px var(--light-gray);
		}
		& .icon {
			font-size: 2rem;
			color: var(--dark-gray);
		}
	}
}
