.reset {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: #ffffff98;
}
.start {
	visibility: hidden;
	opacity: 0;
}
.reset__container {
	position: absolute;
	width: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--dark-purple);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: var(--light-gray);
	padding: 10rem 6rem;
	border-radius: 10px;

	@media screen and (max-width: 655px) {
		padding: 3rem;
	}
}

.reset__content h3 {
	margin: 2rem;
}

.reset__choice {
	margin-top: 5rem;
	&-yes {
		margin: 0 1rem;
		font-size: 3rem;
	}
	& a {
		cursor: pointer;
		border: solid 2px var(--main-background-color);
		background-color: var(--title-blue);
		padding: 1rem 5rem;
		border-radius: 10px;
		color: var(--main-dark-color);
		transition: background-color ease-in-out 0.2s;
		&:hover {
			background-color: transparent;
			color: var(--light-gray);
		}
	}
}

.reset__fade-in {
	animation: fadeIn linear 0.2s forwards;
	transition: all ease-in-out 1s;
	z-index: 98;
}
.reset__fade-out {
	animation: fadeOut linear 0.2s forwards;
	z-index: -1;
	transition: all linear 0.2s;
}

@keyframes fadeIn {
	100% {
		opacity: 100%;
	}
}

@keyframes fadeOut {
	50% {
	}

	100% {
		opacity: 0;
	}
}
