@import '_picks';
@import '_results';
@import '_reset';

:root {
	--main-background-color: #80c8f18c;
	--main-dark-color: #202020;
	--light-gray: #acaaaa;
	--dark-gray: #707070;
	--light-blue: #4da8da;
	--light-dark-blue: #007cc7;
}

*::before,
*::after,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
}
html {
	font-size: 62.5%;
}

body {
	background-color: var(--main-background-color);
	text-align: center;
	font-size: 2rem;
}

h1 {
	font-size: 4rem;
	margin-top: 3rem;
}
