@import '_picks';
@import '_results';
@import '_reset';

:root {
	--main-background-color: #e5e5e58c;
	--main-dark-color: #202020;
	--light-gray: #dedede;
	--dark-gray: #707070;
	--title-pink: #ff52ab;
	--title-gold: #fbbc00;
	--title-blue: #04cae4;
	--dark-purple: #9a0f9a;
}

*::before,
*::after,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
}
html {
	font-size: 62.5%;
}

body {
	background-color: var(--main-background-color);
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 2rem;
}

h1 {
	font-size: 4rem;
	font-weight: 700;
	margin-top: 3rem;
	letter-spacing: .5rem;
}

.title{ 
	
	&__rock {
		color: var(--title-pink);
	}
	&__paper {
		color: var(--title-gold);
	}
	&__scissors {
		color: var(--title-blue);
	}
}

@media screen and (min-width: 1000px) {
	.main-container {
		max-width: 1400px;
		margin: auto;
	}
}
